# MacOS related files
.DS_Store
.icloud

# Python files
__pycache__/
**.pyc
*.out

# Jupyter notebooks
.ipynb_checkpoints

# Credentials
**/.config

# WIP Serialized models
# models/*
explore_data.py

# Data
data/
