# MacOS related files
.DS_Store
.icloud

# Python files
__pycache__/
*.py[cod]
*$py.class

# Jupyter notebooks
.ipynb_checkpoints

# Credentials
**/.config

# WIP Serialized models
models/*

# Data
data/
